{
  "$schema": "https://json.schemastore.org/swcrc",
  "env": {
    "targets": "node 8",
    "coreJs": "3.36.1",
    "mode": "usage",
    "bugfixes": true
  },
  "jsc": {
    "parser": {
        "syntax": "typescript"
    }
  }
}
